python-dotenv>=1.2.2
flask>=2.3.3
flask-cors>=6.0.5
requests>=2.34.2
python-dateutil>=2.9.0.post0
gunicorn>=26.0.0
tabulate>=0.10.0
matplotlib>=3.11.1
seaborn>=0.13.2
pandas>=3.0.5
numpy>=1.26.4
boto3>=1.43.62
